<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titre de votre site</title>
    <!-- Inclure ici vos liens vers les fichiers CSS -->
    <link rel="stylesheet" href="app.component.css">
  </head>

  <body>
    <header>
      <div class="logo">
        <div class="embleme">
          <img src="../../../images_globales/LogoDark.jpg" alt="" height="50px">
        </div>
        <div class="nom">
          <a href="#">Église des Saints<br><span class="localite">de Morangis (DEV)<span></a>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="#">&#x1F3E0; Accueil</a></li>
          <li><a href="#">&#x1F4DA; Programmes</a></li>
          <li><a href="#">&#x1FA94; Enseignements</a></li>
          <li><a href="#">&#x1F3B6; Cantiques</a></li>
          <li><a href="#">&#x1F54D; Église</a></li>
          <!-- <li><a href="#">À propos</a></li>
          <li><a href="#">Contacts</a></li>-->
        </ul>
      </nav>
    </header>
    <main>
      <section class="panel-bandeau">
        <div class="bandeau">
          <div class="frame-bandeau">
            <img src="../../images/fdf_20171104.jpg" alt="Description de l'image">
            <div class="titre">Titre de l'image1<br><span class="sous-titre">Ceci est mon sous-titre</span></div>
            <div class="tag">Cantique</div>
          </div>
          <div class="frame-bandeau">
            <img src="../../images/fdf_20171104.jpg" alt="Description de l'image">
            <div class="titre">Titre de l'image2<br><span class="sous-titre">Ceci est mon sous-titre</span></div>
            <div class="tag">Culte</div>
          </div>
          <div class="frame-bandeau">
            <img src="../../images/fdf_20171104.jpg" alt="Description de l'image">
            <div class="titre">Titre de l'image3<br><span class="sous-titre">Ceci est mon sous-titre</span></div>
            <div class="tag">Culte</div>
          </div>
          <div class="frame-bandeau">
            <img src="../../images/fdf_20171104.jpg" alt="Description de l'image">
            <div class="titre">Titre de l'image4<br><span class="sous-titre">Ceci est mon sous-titre</span></div>
            <div class="tag">Culte</div>
          </div>
          <div class="frame-bandeau">
            <img src="../../images/fdf_20171104.jpg" alt="Description de l'image">
            <div class="titre">Titre de l'image5<br><span class="sous-titre">Ceci est mon sous-titre</span></div>
            <div class="tag">Culte</div>
          </div>
          <div class="frame-bandeau">
            <img src="../../images/fdf_20171104.jpg" alt="Description de l'image">
            <div class="titre">Titre de l'image6<br><span class="sous-titre">Ceci est mon sous-titre</span></div>
            <div class="tag">Culte</div>
          </div>
          <div class="frame-bandeau">
            <img src="../../images/fdf_20171104.jpg" alt="Description de l'image">
            <div class="titre">Titre de l'image7<br><span class="sous-titre">Ceci est mon sous-titre</span></div>
            <div class="tag">Culte</div>
          </div>
          <div class="frame-bandeau">
            <img src="../../images/fdf_20171104.jpg" alt="Description de l'image">
            <div class="titre">Titre de l'image8<br><span class="sous-titre">Ceci est mon sous-titre</span></div>
            <div class="tag">Culte</div>
          </div>
          <div class="frame-bandeau">
            <img src="../../images/fdf_20171104.jpg" alt="Description de l'image">
            <div class="titre">Titre de l'image9<br><span class="sous-titre">Ceci est mon sous-titre</span></div>
            <div class="tag">Culte</div>
          </div>
          <!-- Ajoutez autant de cadres que nécessaire -->
        </div>
      </section>
      <section class="panel-Bienvenue">
        <div class="presentation">
          <h1>Bienvenue</h1>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </section>
      <section class="panel-Accueil">
        <div class="programme">
          <div class="titre"><h1>Programme</h1></div>
          <div class="activite"><h2>Culte</h2>
            <div class="session">
              <div class="jour">&#x1F4C5; Mercredi</div>
              <div class="creneau">de &#x1F556; 19h00 à &#x1F558; 21h00</div>
            </div>
            <div class="session">
              <div class="jour">&#x1F4C5; Vendredi</div>
              <div class="creneau">de &#x1F556; 19h00 à &#x1F558; 21h00</div>
            </div>
            <div class="session">
              <div class="jour">&#x1F4C5; Dimanche</div>
              <div class="creneau">de &#x1F559; 10h00 à &#x1F551; 14h00</div>
            </div>
            <div class="adresse">
              <span>&#x1F4CD; 34 Avenue Ferdinand de Lesseps,</span>
              <span> 91420 Morangis - FRANCE</span>
            </div>
            <div id="fb-root"></div>
          </div>
          <!--<iframe width="600" height="345" src="https://www.youtube.com/embed/_EKPuLQNNiw?autoplay=1&mute=0"></iframe>-->
          <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FbiloloLIVE%2Fvideos%2F763853852393754%2F&show_text=false&width=560" width="560" height="314" scrolling="no" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
        <div class="communique">
          <div class="titre"><h1>Communiqués</h1></div>
          <div class="jeune">
            <div class="objet">&#x1F3BA; Jeune de X jour(s) &#x1F303; &#x1F307; &#x1F306; &#x1F303; &#x1F307; &#x1F306;</div>
            <div class="contenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
          </div>
          <div class="deces">
            <div class="objet">&#x1F62D; Deces du Fr/ de la Sr</div>
            <div class="contenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
          </div>
          <div class="mariage">
            <div class="objet">&#x1F491; Mariage</div>
            <div class="contenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
          </div>
          <div class="voyage">
            <div class="objet">&#x1F9F3; Voyage</div>
            <div class="contenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
          </div>
          <div class="visite">
            <div class="objet">&#x1F57A;&#x1F483; Visite du Fr/Sr</div>
            <div class="contenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
          </div>
          <div class="salutations">
            <div class="objet">&#x1F44B; Salutations des</div>
            <div class="contenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
          </div>
        </div>
      </section>
      <!-- <section class="panel-Album">
        <div class="panel-row">
          <div class="panel-column">
            <div class="cadre2">
              <h1>E N__ C E__ M O M E N T</h1>
              <img src="../../images/fdf_20171104.jpg" alt="" height="500px">
            </div>
          </div>
          <div class="panel-column">
            <div class="cadre">
              <div class="cadre-img">
                <img src="../../images/ens_le-grand-tourbillon.jpg" alt="">
              </div>
              <figcaption>Le grand tourbillon &#x1F300;</figcaption>
            </div>
            <div class="cadre">
              <div class="cadre-img">
                <img src="../../images/ens_marcher-avec-le-soleil.jpg" alt="">
              </div>
              <figcaption>Marcher avec le soleil &#x1F31E;</figcaption>
            </div>
            <div class="cadre">
              <div class="cadre-img">
                <img src="../../images/ens_a-venir.jpg" alt="">
              </div>
              <figcaption>A venir &#x1FA94;&#x1F5DE;</figcaption>
            </div>
          </div>
          <div class="panel-column">
            <div class="cadre">
              <div class="cadre-img">
                <img src="../../images/ens_attachement-a-dieu.jpg" alt="" height="200px">
              </div>
              <figcaption>Attachement à Dieu &#x1F517;</figcaption>
            </div>
            <div class="cadre">
              <div class="cadre-img">
                <img src="../../images/ens_le-mystere-du-sanglier-de-la-foret.jpg" alt="">
              </div>
              <figcaption>Le mystère du sanglier de la forêt &#x1F333;&#x1F417;&#x1F333;</figcaption>
            </div>
            <div class="cadre">
              <div class="cadre-img">
                <img src="../../images/ens_a-venir.jpg" alt="">
              </div>
              <figcaption>A venir &#x1FA94;&#x1F5DE;</figcaption>
            </div>
          </div>
          <div class="panel-column">
            <div class="cadre">
              <div class="cadre-img">
                <img src="../../images/ens_a-venir.jpg" alt="">
              </div>
              <figcaption>A venir &#x1FA94;&#x1F5DE;</figcaption>
            </div>
            <div class="cadre">
              <div class="cadre-img">
                <img src="../../images/ens_a-venir.jpg" alt="">
              </div>
              <figcaption>A venir &#x1FA94;&#x1F5DE;</figcaption>
            </div>
            <div class="cadre">
              <div class="cadre-img">
                <img src="../../images/ens_a-venir.jpg" alt="">
              </div>
              <figcaption>A venir &#x1FA94;&#x1F5DE;</figcaption>
            </div>
          </div>
          <div class="story-column">
            <h1>S T O R Y</h1>
            <figure>
              <img src="../../images/fdf_20171104.jpg" alt="">
              <figcaption>Culte du 03/04/2024</figcaption>
            </figure>
            <figure>
              <img src="../../images/fdf_20171104.jpg" alt="">
              <figcaption>Culte du 03/04/2024</figcaption>
            </figure>
            <figure>
              <img src="../../images/fdf_20171104.jpg" alt="">
              <figcaption>Culte du 03/04/2024</figcaption>
            </figure>
            <figure>
              <img src="../../images/fdf_20171104.jpg" alt="">
              <figcaption>Culte du 03/04/2024</figcaption>
            </figure>
            <figure>
              <img src="../../images/fdf_20171104.jpg" alt="">
              <figcaption>Culte du 03/04/2024</figcaption>
            </figure>
            <figure>
              <img src="../../images/fdf_20171104.jpg" alt="">
              <figcaption>Culte du 03/04/2024</figcaption>
            </figure>
            <figure>
              <img src="../../images/fdf_20171104.jpg" alt="">
              <figcaption>Culte du 03/04/2024</figcaption>
            </figure>
            <figure>
              <img src="../../images/fdf_20171104.jpg" alt="">
              <figcaption>Culte du 03/04/2024</figcaption>
            </figure>
            <figure>
              <img src="../../images/fdf_20171104.jpg" alt="">
              <figcaption>Culte du 03/04/2024</figcaption>
            </figure>
          </div>
        </div>-->
        <!--<div class="panel-row">
          <div class="cadre">
            <img src="../../images/fdf_20171104.jpg" alt="" height="200px">
          </div>
          <div class="cadre">
            <img src="../../images/fdf_20171104.jpg" alt="" height="200px">
          </div>
          <div class="cadre">
            <img src="../../images/fdf_20171104.jpg" alt="" height="200px">
          </div>
        </div>
        <div class="panel-row">
          <div class="cadre">
            <img src="../../images/fdf_20171104.jpg" alt="" height="200px">
          </div>
          <div class="cadre">
            <img src="../../images/fdf_20171104.jpg" alt="" height="200px">
          </div>
          <div class="cadre">
            <img src="../../images/fdf_20171104.jpg" alt="" height="200px">
          </div>
          <div class="cadre">
            <img src="../../images/fdf_20171104.jpg" alt="" height="200px">
          </div>
          <div class="cadre">
            <img src="../../images/fdf_20171104.jpg" alt="" height="200px">
          </div>
        </div>-->
      </section>
    </main>


    <footer>
      <div class="Nous-PiedDePage">
        <div class="logo">Eglise des saints de Morangis</div>
        <div class="contacts">
          <span class="contact-telephone">
            <a href="tel:???">
              <span>telephone</span>
            </a>
          </span>
            <span class="contact-mail">
            <a href="mailto:???@???.fr">
              <span>e-mail</span>
            </a>
          </span>
        </div>
        <div class="contacter">Nous contacter</div>
        <div class="sites">
          <a href="https://www.facebook.com/biloloLIVE">
            <img src="../../../images_globales/facebook.png" class="facebook-icone" alt="" width=20px height="20px">
          </a>
          <a href="https://www.youtube.com/@BillyBiloloStream/featured">
            <img src="../../../images_globales/youtube.png" class="youtube-icone" alt="" width=20px height="20px">
          </a>
        </div>
        <div class="adresse">
          <span>34 Avenue Ferdinand de Lesseps</span>
          <span>91420 Morangis, FRANCE</span>
        </div>
      </div>
      <div class="Services-PiedDePage">

      </div>
      <div class="Monde-PiedDePage">

      </div>
      <div class="Mentions-PiedDePage">
        <div class="mentions">Site Officiel - Mentions Légales</div>
        <div class="GoToTop">Retour en haut de page &#9650;</div>
      </div>
    </footer>
  </body>
</html>

<!--      <section class="PageDeGarde-Bienvenue">-->
<!--        <div class="panel-Couverture">-->
<!--          <div class="Couverture"><img src="../../images/asm_01.jpg" alt="" width=50%"></div>-->
<!--          <div class="panel-Description">-->
<!--            <h1>Ceci est mon site</h1>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip-->
<!--              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu-->
<!--              fugiat nulla pariatur.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->
<!--      <section class="PageDeGarde-Album1x3">-->
<!--        <div class="panel-Cultes">-->
<!--          <figure>-->
<!--            <img src="../../images/fdf_20171104.jpg" alt="" width=20%">-->
<!--            <figcaption>Test1</figcaption>-->
<!--          </figure>-->
<!--          <figure>-->
<!--            <img src="../../images/fdf_20171104.jpg" alt="" width=20% ">-->
<!--            <figcaption>Test2</figcaption>-->
<!--          </figure>-->
<!--        </div>-->
<!--      </section>-->
<!--      <section class="PageDeGarde-PlanDacces">-->
<!--        <div>-->

<!--        </div>-->
<!--      </section>-->
